<link rel="stylesheet" href="/css/user_profile.css">

<!--
//after creating layouts file in views ...
//removed html tag
//remove body tag
//removed include tag
//only write main content 
// tittle and body and header and footer etc set on run time using layout.ejs
-->

<h1>Codeial User Profile</h1>

<%if(user.id==profile_user.id){%>
    <!--if user matches then show the form-->
    <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name.." value="<%=profile_user.name%>" required><br>
        <input type="email" name="email" placeholder="Your Email.." value="<%=profile_user.email%>" required><br>
        <input type="submit" value="Update">
    </form>

    <%}else{%>
        <!--Show only the profile info..-->

        <p>
            <%=profile_user.name%>
        </p>

        <p>
            <%=profile_user.email%>
        </p>
        <%}%>






            <!--
    <p>Name:
    <=user.name>
</p>
<p>Email:
    <=user.email>
</p>
-->